        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                  Dashboard
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>See Inventory</h4>
                    </div>
                    <div class="panel-body">
                        <p>View the current inventory for all of the office's supplies.</p>
                        <a href ="/inventory"><button type="button" class="btn btn-outline-primary">View</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>See Staff</h4>
                    </div>
                    <div class="panel-body">
                        <p>View the office staff, their contact information, and recent orders. </p>
                        <a href="/staff"><button type="button" href="/staff" class="btn btn-outline-primary">View</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i>Place an order</h4>
                    </div>
                    <div class="panel-body">
                        <p>If inventory is low, place an order for the supplies here.</p>
                        <a href="/order"><button type="button" class="btn btn-outline-primary">View</button></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->


		<div class="row products">
            <div class="col-lg-12">
                <h2 class="page-header">Our Suppliers</h2>
            </div>

    <% @suppliers.each do |supps| %>
			<div class="col-sm-4 col-lg-4 col-md-4">
				<div class="thumbnail">
					<img src="https://placehold.it/320x150" alt="">
					<div class="caption">
						<h4 class="pull-right">$24.99</h4>
						<h4><a href="#"><%= supps.name %></a></h4>

            <p><%= supps.address %>, <%= supps.city %>, <%= supps.state %></p>
					</div>
					<div class="ratings">
						<p class="pull-right">15 recent orders.</p>
						<p>
							<span class="glyphicon glyphicon-align-justify"></span>
							<span class="glyphicon glyphicon-align-justify"></span>
							<span class="glyphicon glyphicon-align-justify"></span>
							<span class="glyphicon glyphicon-align-justify"></span>
							<span class="glyphicon glyphicon-align-justify"></span>
						</p>
					</div>
				</div>
			</div>
      <% end %>

		</div>
        <hr>
