
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Dashboard
    </h1>
    <br/>
    <% link_to "#{current_order.order_items.size} items in cart and price $#{current_order.subtotal}", cart_path %>

  </div>
  <div class="col-md-4">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Inventory</h5>
        <p class="card-text">View the current inventory for all of the office's supplies.</p>
        <a href="/inventory" class="btn btn-outline-primary">View</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Staff</h5>
        <p class="card-text">View the office staff, their contact information, and recent orders.</p>
        <a href="/staff" class="btn btn-outline-primary">View</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Cart</h5>
        <p class="card-text">View added supplies to the carts, update quantities, or empty cart.</p>
        <a href="/cart" class="btn btn-outline-primary">View</a>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
<hr/>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Our Suppliers</h1>
    <br/>
  </div>
<br/>
  <% @suppliers.each do |supps| %>
    <div class="col-sm-4 col-lg-4 col-md-4">
      <div style="height: 150px;" class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><%= supps.name %></div>
        <div class="card-body">
          <h5 class="card-title"><%= supps.address %>,
            <%= supps.city %>,
            <%= supps.state %>.</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<hr>
