// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#shopcart {
  text-align: center;
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 50px; 
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
